@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,700;1,400&family=Nunito+Sans:wght@200&family=Source+Code+Pro:wght@400&display=swap');

$tablet: 768px;
$mobile: 767px;

$serif: 'Source Serif Pro';
$monospace: 'Source Code Pro';
$sans-serif: 'Nunito Sans';
