@import 'variables.scss';
@import 'colors.scss';

.comments-form {
    margin-top: 20px;
    fieldset {
        border: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
    }

    textarea {
        width: 100%;
        border: 1px dotted black;
        border-bottom: 2px solid black;
        padding: 20px;
        margin: 10px 0;
        resize: none;
        font-family: $serif, serif;
        color: black;
        &:focus {
            border-bottom-color: $red;
        }
    }

    label {
        flex: none;
        font-family: $serif, serif;
        line-height: 30px;
    }

    .comments-info-input {
        flex: 1;
        border: 1px dotted black;
        border-bottom: 1px solid black;
        font-family: $serif, serif;
        height: 30px;
        margin: 0px 5px;
        padding: 5px 10px;
        &:focus {
            border-bottom: 1px solid indianred;
            background-color: white;
            padding: 5px 10px;
            transition: all 0.3s ease-in-out;
            outline: none;
        }
    }

    .comments-btn-box {
        position: relative;
        height: 50px;
    }

    .comments-btn {
        position: absolute;
        right: 0;
        border: none;
        color: white;
        background-color: indianred;
        padding: 4px 20px;
        font-weight: bold;
        font-family: $serif, serif;
        font-size: 16px;
        &:hover {
            cursor: pointer;
        }
        &:focus {
            outline: none;
        }
        &[disabled] {
            background-color: grey;
            cursor: default;
        }
    }
}
.comments-list {
    width: 100%;
}

.comment-container {
    width: 100%;
    border-bottom: 1px dotted $grey;
    padding: 20px;
}
.comment-box {
    background: $highlight;
    margin: 34px 0;
    padding: 30px;
    border: 1px solid indianred;
}
.comment-header {
    font-family: $serif, serif;
    font-size: 24px;
    color: black;
}

.comment-body {
    font-family: $serif, serif;
    font-size: 20px;
    color: black;
}
