@import 'variables.scss';
@import 'colors.scss';

h2.list-title {
    display: inline;
    font-size: 36px;
    & > a {
    color: black;
    text-decoration: none;
    }
}

article {
    margin-bottom: 60px;
    padding: 30px;
    position: relative;
}

.date {
    font-family: $serif, serif;
    text-transform: uppercase;
    font-size: 12px;
    color: $grey;
    letter-spacing: 1px;
    float: right;
}

.tags, .tags-list {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    & .tag {
        background-color: lighten(indianred, 35);
        padding: 3px 15px;
        border-radius: 15px;
        color: indianred;
        font-size: 12px;
        font-weight: bold;
        font-family: $sans-serif, sans-serif;
        text-decoration: none;
        border: 1px solid indianred;
        & + .tag {
            margin-left: 5px;
        }
    }
}

.tags-list {
    & .tag {
        font-size: 14px;
    }
}

.summary {
    line-height: 1.5em;
}



a.footnote-backref, a.footnote-ref {
    color: indianred;
    border: 1px solid indianred;
    text-align: right;
    font-family: $serif, serif;
    text-transform: uppercase;
    border-radius: 5px;
    &:hover {
        border-bottom: 1px solid indianred;
        background-color: lighten(indianred, 30);
    }
}

.post-link {
    float: right;
}


