{{ define "main" }}
<h1 class="post-title">{{ .Site.Title }}.</h1>
<p>
    The personal blog of Trent Fridey.
</p>
<p>
    Dedicated to exploring the analytical side of life:
    <ul>
        <li>mathematics</li>
        <li>physics</li>
        <li>computation</li>
        <li>philosophy</li>
        <li><a href="/tags">etc.</a></li>
    </ul>
</p>
<p>
    About the title: From my education in physics, I developed the habit of seeking explanations primarily through first principles. These form the bedrock of my approach to problem solving.
</p>
{{ end }}
