<div>
    {{ $js := resources.Get "js/client.js" | js.Build }}
    <script type="text/javascript" src="{{ $js.RelPermalink }}" defer></script>
    <h1>Comments</h1>
    <!-- Insert list of comments here -->
    <!-- Should include script for fetching -->
    <!-- TODO Use functions in static/js/comments.js -->
    <div class="comments-list">
        <div class="comment-container">
            <div class="comment-header">
                <span class="comment-name">
                    Trent Fridey
                </span>
                at
                <span class="comment-date">
                    01-08-21:
                </span>
            </div>
            <div class="comment-body"></div>
        </div>
    </div>
    <form class="comments-form" id="comments-form">
        <fieldset>
          <label for="name">Name:</label>
          <input id="name" class="comments-info-input" type="text" name="name" />
        </fieldset>
        <textarea id="comment" placeholder="Write your comment here." cols="30" rows="5"></textarea>
         <div class="comments-btn-box">
         <button id="submit-btn" class="comments-btn" type="submit">Post</button>
         </div>
    </form>
    <script>
     const btn = document.getElementById('submit-btn');
     const name = document.getElementById('name');
     const comment = document.getElementById('comment');
     btn.addEventListener('click', function(event){
         event.preventDefault();
         console.log("{{ .RelPermalink }}", name.value, comment.value)
         createComment("{{ .RelPermalink }}", name.value, comment.value)
     })
    </script>
</div>

