<div id="comments">
    <h1>Comments</h1>
    <div id="comments-container">
        {{ safeHTML `
        <div class="comment-box" v-for="post in postComments">
            <div class="comment-header">{{ post.name }}<span class="comment-date">{{ post.dateString }}</span></div>
            <div class="comment-body">{{ post.comment }}</div>
        </div>
        `}}
    </div>
    <form class="comments-form" id="comments-form">
        <template v-if="!success">
        <fieldset>
            <label>Name:</label>
            <input id="name" class="comments-info-input" type="text" v-model="name"/>
        </fieldset>
        <textarea placeholder="Write your comment here." cols="30" rows="5" v-model="comment"></textarea>
        <div class="comments-btn-box">
            <button id="submit-btn" :disabled="!valid" class="comments-btn" v-on:click.prevent="() => submitComment('{{ .RelPermalink }}')">Post</button>
        </div>
        </template>
        <template v-else>
            <div>Comment submitted!</div>
        </template>
    </form>
</div>
<script type="module">
    import { getCommentsBySlug, createComment } from '../../js/client.js';
    var app = new Vue({
        el: '#comments',
        data: {
            postComments: [],
            name: '',
            comment: '',
            success: false,
        },
        created () {
            getCommentsBySlug("{{.RelPermalink}}")
                .then((res) => {
                    this.postComments = res.getCommentsBySlug.map(({date, ...c}) => ({
                        dateString: new Date(date).toDateString(), 
                        ...c
                    }))
                    .sort((c1, c2) => c1.date - c2.date)
                })
        },
        computed: {
            valid () {
                return !!this.name && !!this.comment
            }
        },
        methods: {
            submitComment(slug) {
                if (this.valid) {
                    createComment(slug, this.name, this.comment)
                    .then(() => { this.success = true })
                }
            }
        }
    })
</script>