<div>
    {{ $js := resources.Get "js/client.js" | js.Build }}
    <script type="text/javascript" src="{{ $js.RelPermalink }}" defer></script>
    <h1>Comments</h1>
    <div id="comments-container">
    <!-- Insert list of comments here -->
    <!-- Should include script for fetching -->
    <!-- TODO Use functions in static/js/comments.js -->
    </div>
    <form class="comments-form" id="comments-form">
        <fieldset>
          <label for="name">Name:</label>
          <input id="name" class="comments-info-input" type="text" name="name" />
        </fieldset>
        <textarea id="comment" placeholder="Write your comment here." cols="30" rows="5"></textarea>
         <div class="comments-btn-box">
         <button id="submit-btn" class="comments-btn" type="submit">Post</button>
         </div>
    </form>
    <script>
     const commentsDiv = document.getElementById('comments-container');
     window.addEventListener('DOMContentLoaded', function() {
         getCommentsBySlug("{{ .RelPermalink }}").then((res) => {
             console.log(res)
             console.log('fetched')
         }).catch(console.error)
     })
     const btn = document.getElementById('submit-btn');
     const name = document.getElementById('name');
     const comment = document.getElementById('comment');
     btn.addEventListener('click', function(event){
         event.preventDefault();
         console.log("{{ .RelPermalink }}", name.value, comment.value)
         createComment("{{ .RelPermalink }}", name.value, comment.value)
     })
    </script>
</div>

