<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta name="theme-color" content="#404040">
    <title>{{ .Site.Title }}</title>
    {{ template "_internal/opengraph.html" . }}
    {{ $favicon := resources.Get "favicon.svg" }}
    <link rel="icon" type="image/svg+xml" href="{{ $favicon.RelPermalink }}">
    <link rel="manifest" href="/manifest.webmanifest">
    {{ $cssOpts := (dict "targetPath" "css/index.css") }}
    {{ $style := resources.Get "sass/index.scss" | resources.ExecuteAsTemplate "style.index.css" . | resources.ToCSS }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    <link rel="canonical" href="{{ .Permalink }}" />
    {{ $js := resources.Get "js/client.mjs" | js.Build (dict "format" "esm") }}
    <script src="{{ $js.RelPermalink }}" type="module"></script>
    {{ if or .Params.math .Site.Params.math }}
    <script>
     window.MathJax = { tex: { tags: 'ams' } };
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>
    <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js">
    </script>
    <script src="https://unpkg.com/vue"></script>
    {{ end }}
</head>
