<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>{{ .Site.Title }}</title>
    {{ $cssOpts := (dict "targetPath" "css/index.css") }}
    {{ $style := resources.Get "sass/index.scss" | resources.ExecuteAsTemplate "style.index.css" . | resources.ToCSS }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    <link rel="canonical" href="{{ .Permalink }}" />
    {{ if or .Params.math .Site.Params.math }}
    <script>
     window.MathJax = { tex: { tags: 'ams' } };
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>
    <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js">
    </script>
    {{ end }}
</head>
