<div class="email-form">
    <span style="font-weight: bold;">Join the mailing list</span> to get new posts sent to your inbox.
    <form
        action="https://buttondown.email/api/emails/embed-subscribe/tfri92"
        method="post"
        target="popupwindow"
        onsubmit="window.open('https://buttondown.email/tfri92', 'popupwindow')"
    >
        <input type="hidden" value="1" name="embed" />
        <label for="email">Your Email Address</label>
        <div class="email-form--input">
            <input type="email" name="email" placeholder="Email" id="email" required="true"/>
            <button type="submit">Subscribe</button>
        </div>
    </form>
</div>
